@font-face {
      font-family: 'NHL';
      font-style: normal;
      font-weight: normal;
      src: local('NHL'), url('Fonts/NHL.ttf') format(ttf);
}

.teamName {
      margin-top: 0px;
      font-family: 'NHL';
      font-size: 75px;
      color: #2c3e50;
      text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
}

.logo {
      font-size: 250px;
      color: #2c3e50;
}