.card {
      margin: 20px 15px 0px 0px;
}

#jerseyNbr {
      font-size: 35px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      text-shadow: -1px 4px 1px rgba(20, 20, 20, 1);
}

#playerName, #playerPosition {
      font-weight: bold;
      color: rgb(255, 255, 255);
      text-shadow: -1px 4px 1px rgba(20, 20, 20, 1);
}

.head {
      border-radius: 50%;
      -webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.9);
      -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.9);
      box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.9);
}