.select-style select {
      outline: none;
      width: 600px;
      height: 60px;
      font-size: 30px;
      display: block;
      margin: 40px auto;
      color: white;
      background-color: #2c3e50;
      border: none;
      
}