.search {
      margin-bottom: 40px;
      padding: 4px 15px;
      width: 400px;
      height: 45px;
      font-size: 30px;
      font-weight: bold;
      background-color: #2c3e50;
      color: white;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      border: none;
}

input:focus {
      outline: none;
}